body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h2 {
    margin-bottom: 10px;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #2815a5;
    color: rgb(248, 247, 247);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #29be30;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #810c0c;
    text-align: left;
    padding: 8px;
}